[paths]
working_dir = /data-master/pure-workspace/labss/hmami/new_data
gtf_file = /data-master/pure-workspace/labss/hmami/new_data/HKOCA-tools/scripts/harmonize/meta/gtf/Homo_sapiens.GRCh38.104.gtf
metadata_csv = /data-master/pure-workspace/labss/hmami/new_data/HKOCA-tools/scripts/harmonize/meta/datasets_metadata.csv
output_root = /data-master/pure-workspace/labss/hmami/new_data/HKOCA-tools/scripts/harmonize/results

[summary]
figure_dpi = 300
figure_extensions = png, pdf
report_subdir = reports/atlas_summary
age_plot_top_n = 15
